//====================================================================================================

.footer {

  // .footer__container

  &__container {
  }

  // .footer__content

  &__content {
    background: $greyColor;
    border-radius: 20px;
    
    @media (min-width:$mobile){
      padding: 0 rem(35); 
    }

    @media (max-width:$mobile){
      margin: 0 rem(-15); 
      padding: 0 rem(15);
    }

    @include adaptiveValue("padding-top", 56, 23);
    @include adaptiveValue("padding-bottom", 64, 43);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 49);
    }
  }

  // .footer__logo

  &__logo {
    @include adaptiveValue("width", 262, 172);
    display: block;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 72, 28);
    }
    @media (max-width:$mobileSmall){
      margin: 0 auto; 
    }
  }

  // .footer__info

  &__info {
  }

  // .footer__nav

  &__nav {
  }

  // .footer__bottom

  &__bottom {
  }
}

.info-footer {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("row-gap", 32, 21);

  // .info-footer__row

  &__row {
    @include adaptiveValue("column-gap", 48, 15);
    row-gap: rem(21);
    @media (min-width:$mobile){
      padding-bottom: rem(25);
      border-bottom: 1px solid #3C3C3C;
    }
    @media (max-width: em(640)){
      flex-wrap: wrap; 
    }
    @media (max-width:$mobileSmall){
      text-align: center; 
      flex-direction: column  ;
    }
  }

  // .info-footer__item

  &__item {
    gap: rem(6);
    @include adaptiveValue("font-size", 20, 15);
    line-height: 1.47;

    @media (max-width:$pc){
      flex-wrap: wrap; 
    }
    @media (max-width:$mobileSmall){
      flex-direction: column; 
    }
  }

  // .info-footer__desc

  &__desc {
    color: rgba(148, 148, 148, 1);
  }

  // .info-footer__link

  &__link {
    // .info-footer__link_under

    &_under {
      text-decoration: underline;
    }
  }
}

.nav-footer {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  row-gap: rem(25);
  @include adaptiveValue("column-gap", 89, 20, 0, 1500, 1100);

  @media (max-width:$tablet){
    display: none;
  }

  &:not(:first-child) {
    margin-top: rem(52);
  }


  // .nav-footer__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(8);
  }

  // .nav-footer__item

  &__item {
    &:first-child {
      margin-bottom: rem(8);
    }
  }

  // .nav-footer__link

  &__link {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: rem(13);
    line-height: 1.7;
    text-decoration-line: underline;
    align-self: end;

    // .nav-footer__link_main

    &_main {
      font-family: 'Manrope';
      font-weight: 700;
      font-size: rem(15);
      line-height: 1.333;
      text-decoration-line: underline;
    }
  }

  // .nav-footer__sociable

  &__sociable {
    @media (max-width:$tablet){
      margin: 0 auto; 
    }
  }
}

.bottom-footer {
  padding-bottom: rem(59);
  gap: rem(22);

  @media (max-width: em(640)){
    flex-direction: column; 
  }

  @media (max-width:$mobileSmall){
    padding-bottom: rem(128); 
  }

  // .bottom-footer__item

  &__item {
    font-family: 'Arial';
    font-size: rem(14);
    line-height: 1.57;
  }
}

.footer-hov {
  transition: all 0.3s ease 0s;

  @media (any-hover: hover){
    &:hover{
      color: #949494;
      text-decoration: none;
    }
  }
}


//====================================================================================================
