//====================================================================================================

.mainscreen {
  @include adaptiveValue("padding-top", 43, 25);
  @include adaptiveValue("margin-bottom", 70, 45);

  // .mainscreen__container

  &__container {
    column-gap: rem(20);
    position: relative;
  }

  // .mainscreen__content

  &__content {
    flex: 0 1 rem(780);
  }

  // .mainscreen__perview

  &__perview {
    flex: 0 0 rem(370);
  }

  // .mainscreen__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 22);
    }
  }

  // .mainscreen__text

  &__text {
    max-width: rem(500);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 73, 39);
    }
  }

  // .mainscreen__btn

  &__btn {
    @include adaptiveValue("padding-left", 44, 26);
    @include adaptiveValue("padding-right", 43, 27);
  }

  // .mainscreen__bg

  &__bg {
  }

  // .mainscreen__elipse

  &__elipse {
    top: rem(-650);
    left: rem(-300);
  }
}

.perview-mainscreen {
  @media (max-width:$tablet){
    display: none;
  }

  // .perview-mainscreen__body

  &__body {
    background: $bgColor;
    border: 1px solid #404040;
    border-radius: 20px;
    padding: rem(14);
  }

  // .perview-mainscreen__img-wrap

  &__img-wrap {
    background: linear-gradient(180deg, #000000 0%, #7F5AF0 100%);
    border: 1px solid #404040;
    border-radius: 20px;
    min-height: rem(395);
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;

    &:not(:last-child) {
      margin-bottom: rem(11);
    }
  }

  // .perview-mainscreen__icons

  &__icons {
  }

  // .perview-mainscreen__icon

  &__icon {
    position: absolute;
    z-index: 3;
    width: rem(83);
    height: rem(83);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content:center;
    align-items: center;

    &_red {
      background: linear-gradient(180deg, #D73232 0%, #141414 100%);
      left: rem(157);
      top: rem(-44);
    }
    &_green {
      top: rem(101);
      left: rem(-48);
      background: linear-gradient(180deg, #2CB67D 0%, #161516 100%);
    }
    &_pink {
      background: linear-gradient(180deg, #D732D0 0%, #141414 100%);
      width: rem(81);
      height: rem(81);
      bottom: rem(20);
      left: rem(64);
    }
    &_yellow {
      background: linear-gradient(180deg, #F8D959 0%, #141414 100%);
      width: rem(112);
      height: rem(112);
      bottom: rem(11);
      right: rem(-48);
    }
  }

  // .perview-mainscreen__img

  &__img {
    // transform: translate(-45px, 15px);
    position: relative;
    left: -45px;

    img {
      max-width: rem(360);
    }
  }

  // .perview-mainscreen__label

  &__label {
    font-weight: 700;
    font-size: rem(21);
    line-height: 1.6;
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  // .perview-mainscreen__info

  &__info {
  }
}

.info-mainscreen {
  column-gap: rem(18);

  // .info-mainscreen__item-big

  &__item-big {
    column-gap: rem(6);
    font-weight: 700;
    font-size: rem(19);
    line-height: 1.6;

    &::before{
      color: #F8D959;
      font-size: rem(17);
      margin-bottom: rem(3);
    }
  }

  // .info-mainscreen__item-dark

  &__item-dark {
    font-weight: 300;
    font-size: rem(16);
    line-height: 1.6;
  }
}

.bg-mainscreen {
  @media (max-width:$mobile){
    display: none; 
  }

  // .bg-mainscreen__line

  &__line {
    position: absolute;
    z-index: -1;
    bottom: -15px;
    right: 70px;
    width: rem(460);
    height: rem(396);

    @media (min-width:$tablet){
      bottom: 30px;
      left: 50%;
      transform: translateX(-62%);
    }
  }

  // .bg-mainscreen__graph

  &__graph {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: rem(459);
    height: rem(312);

    @media (min-width:$tablet){
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}


//====================================================================================================

.counter {
  margin: 0 rem(17);
  @include adaptiveValue("margin-bottom", 104, 78);

  // .counter__container

  &__container {
  }

  // .counter__body 

  &__body {
    border-radius: 20px;

    @media (min-width:$mobile){
      border: 1px solid #404040;
    }
  }

  // .counter__slider

  &__slider {
    @media (min-width:$mobile){
      margin: rem(10); 
      border-radius: 20px;
      background-color: $greyColor;
      padding: rem(10) 0 rem(8) 0;
      @include adaptiveValue("padding-left", 27, 15); 
      @include adaptiveValue("padding-right", 27, 15); 
    }
  }

  // .counter__wrapper

  &__wrapper {
  }

  // .counter__pagination 

  &__pagination {
    @media (min-width:$mobile){
      display: none; 
    }

    &:not(:first-child) {
      margin-top: rem(31);
    }
  }

  // .counter__slide

  &__slide {
    gap: rem(12);
    flex-wrap: wrap;

    @media (max-width:$pc){
      flex-direction: column-reverse;
      justify-content: space-between;
    }

    @media (min-width:$pc){
      align-items: center; 
    }
  }

  // .counter__num-wrap

  &__num-wrap {
    @media (max-width:$mobile){
      border: 1px solid #404040;
      border-radius: 20px;   
    }
  }

  // .counter__num

  &__num {

    @media (max-width:$mobile){
      margin: rem(5); 
      background: #202020;
      border-radius: 14px;
      padding: rem(13) rem(55);
      @include adaptiveValue("padding-left", 27, 15); 
      @include adaptiveValue("padding-right", 27, 15); 
      min-width: calc(100% - 10px);
    }

    .odometer-inside {
      display: flex;
      gap: rem(5);
      justify-content: center;
    }

    .odometer-digit {
      padding: rem(11) rem(5);
      width: rem(30);
      height: rem(49);
      background: #262626;
      border-radius: 7px;
      font-weight: 700;
      font-family: "Inter";
    }

    .odometer-value {
      left: 8px !important;
    }

    .odometer-digit-inner {
      padding-top: rem(11);  
    }

    .odometer-formatting-mark {
      display: none;
    }

    @media (max-width:$mobile){
      padding: rem(8) rem(3);   
    }
  }

  // .counter__label

  &__label {
    @include adaptiveValue("font-size", 17, 14);
    line-height: 1.6;
  }
}

//========================================================================================================================================================

.possibilities {
  @media (max-width:$mobile){
    margin-bottom: rem(44); 
  }

  // .possibilities__container

  &__container {
  }

  // .possibilities__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 37, 27);
    }
  }

  // .possibilities__slider

  &__slider {

    @media (min-width:$pc){
      @include adaptiveValue("padding-left", 140, 39);
      @include adaptiveValue("margin-left", -61, -25);   
    }
  }

  // .possibilities__wrapper

  &__wrapper {
  }

  // .possibilities__slide

  &__slide {
    visibility: hidden;
    position: relative;

    @media (max-width:$mobile){
      padding-bottom: rem(58); 
    }


    &::before{
      content:'';
      position: absolute;
      @include adaptiveValue("top", 100, 91);
      left: 0;
      background: $greyColor;
      border-radius: 20px;
      width: 100%;
      @include adaptiveValue("height", 420, 280, 0, 1300, 767);

      @media (max-width:$mobile){
        top: 0;
        left: -17px !important;
        width: calc(100% + 34px);
        height: 100%; 
      }
    }

    @media (min-width:$mobile){
      background: $bgColor;
    }
  }

  .swiper-slide-active {
    visibility: visible;
  }

  // .possibilities__slide-body

  &__slide-body { 
    @include adaptiveValue("column-gap", 128, 20);
    position: relative;
    z-index: 2;

    @media (max-width:$mobile){
      flex-direction: column; 
    }
  }

  // .possibilities__img-wrap

  &__img-wrap {
    border: 3px solid #404040;
    border-radius: 20px;
    position: relative;

    @include adaptiveValue("margin-top", 50, 41);
    @include adaptiveValue("margin-left", 61, 25);
    @include adaptiveValue("margin-bottom", 142, 59, 0, 1300, 767);

    @media (max-width:$mobile){
      @include adaptiveValue("margin-right", 61, 25);
    }

    @media (min-width:$mobile){
      flex: 0 1 rem(524); 
    }
  }

  // .possibilities__img

  &__img {
    margin: rem(105) rem(57);

    @media (max-width:$mobile){
      margin: rem(55) rem(27);
    }
  }

  // .possibilities__content

  &__content {
    @media (min-width:$mobile){
      flex: 0 1 rem(431); 
      padding-right: rem(10);
      padding-bottom: rem(60);
    }
  }

  // .possibilities__slide-title

  &__slide-title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 44, 19);
    }
  }

  // .possibilities__text

  &__text {
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }
}

.pagination-possibilities {
  // .pagination-possibilities__icon 

  &__icon {
    @include adaptiveValue("font-size", 52, 33);
    @include adaptiveValue("width", 94, 55);
    @include adaptiveValue("height", 94, 55);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $greenColor;
    cursor: pointer;
    position: absolute;
    transition: all 0.4s ease 0s;

    @media (any-hover: hover){
      &:hover{
        background-color: #167c52;
      }
    }

    &_1 {
      top: 0;
      transform: translateY(-50%);
      @include adaptiveValue("left", 168, 30);
    }
    &_2 {
      @include adaptiveValue("top", 95, 33);
      right: 0;
      transform: translateX(50%);
    }
    &_3 {
      @include adaptiveValue("bottom", 107, 63);
      left: 0;
      transform: translateX(-50%);
    }
    &_4 {
      @include adaptiveValue("right", 115, 56);
      bottom: 0;
      transform: translateY(50%);
    }
  
    &:not(&.swiper-pagination-bullet-active) {
      animation: swiperBtns 2s ease 0s infinite;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: transparent;
    border: 5px solid $pinkColor;
    border-right: 5px solid $greenColor;
  }

  @keyframes swiperBtns {
    0% {
      background-color: $greenColor;
    }
    50% {
      background-color: #095636;
    }
    100% {
      background-color: $greenColor;
    }
  }
} 

//========================================================================================================================================================

.problems {
  @include adaptiveValue("margin-bottom", 137, 62);

  // .problems__container

  &__container {
    position: relative;
  }

  // .problems__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 56, 25);
    }
  }

  // .problems__elipse

  &__elipse {
    top: rem(-63);
    right: rem(-413);
  }
} 

.problems-tabs {
  position: relative;
  z-index: 2;

  @media (min-width:$mobile){
    @include adaptiveValue("padding-right", 60, 20);
    @include adaptiveValue("padding-left", 60, 20);
  }

  @media (max-width:$mobile){
    margin: 0 rem(-17);
    padding: 0 rem(17);
  }

  @include adaptiveValue("padding-top", 48, 22);
  @include adaptiveValue("padding-bottom", 57, 41);
  border-radius: 20px;
  background-color: $greyColor;

  // .problems-tabs__navigation

  &__navigation {
    @include adaptiveValue("gap", 28, 16);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 63, 34);
    }
    @media (max-width:$tablet){
      flex-wrap: wrap;
    }
  }

  // .problems-tabs__title

  &__title {
    @include adaptiveValue("width", 274, 135);
    @include adaptiveValue("font-size", 18, 10);

    @media (min-width:$mobile){
      // flex: 0 0 calc(25% - 28px); 
    }

    // ._tab-active

    &._tab-active {
      background-color: $greenColor;
      outline: none;
    }
  }

  // .problems-tabs__content

  &__content {
  }

  // .problems-tabs__body

  &__body {
  }
}


.item-problems {
  @include adaptiveValue("gap", 99, 35);

  @media (max-width:$mobile){
    flex-direction: column; 
  }

  // .item-problems__img

  &__img {
    @media (min-width:$mobile){
      flex: 0 1 rem(550);        
    }
    @media (max-width:$mobile){
      align-self: center; 
    }
  }

  // .item-problems__content

  &__content {
    @media (min-width:$mobile){
      flex: 0 1 rem(430);
    }
  }

  // .item-problems__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 54, 25);
    }
  }

  // .item-problems__text

  &__text {
    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 33, 25);
      }
    }    
  }
}

//========================================================================================================================================================

.steeps {
  @include adaptiveValue("margin-bottom", 173, 103);

  // .steeps__container

  &__container {
  }

  // .steeps__title

  &__title {
    @include adaptiveValue("margin-bottom", 41, 29);
  }

  // .steeps__content

  &__content {
    column-gap: rem(20);
    row-gap: rem(40);

    @media (max-width:$tablet){
      flex-direction: column-reverse;
    }
  }

  // .steeps__slider

  &__slider {
    @media (min-width:$tablet){
      flex: 0 1 rem(556); 
    }
  }

  // .steeps__img-wrap

  &__img-wrap {
    background-color: $greyColor;
    overflow: hidden;
    border-radius: 20px;
    @media (min-width:$tablet){
      flex: 0 1 rem(650); 
    }
  }

  // .steeps__img

  &__img {
    @media (min-width:$tablet){
      @include adaptiveValue("margin-top", 57, 20, 0, 1300, 767);
      margin: 0 rem(43);  
    
    }
    @include adaptiveValue("margin-bottom", 57, 40, 0, 1300, 767);
  }
}

.slider-steeps {
  position: relative;

  @media (min-width:$tablet){
    overflow: hidden;
  }

  @media (max-width:$tablet){
    align-self: stretch;
  }

  // .slider-steeps__wrapper

  &__wrapper {
    @media (min-width:$tablet){
      flex-direction: column; 
      row-gap: rem(46);
    }
  }

  // .slider-steeps__slide

  &__slide {
    @include adaptiveValue("gap", 41, 18, 0, 1300, 992);

    @media (min-width:$tablet){
      padding-left: 4px; 
    }

    @media (max-width:$tablet){
      flex-direction: column;
      padding-top: 4px;
    }
  }

  // .slider-steeps__num

  &__num {
    @media (min-width:$tablet){
      flex: 0 0;
      @include adaptiveValue("flex-basis", 64, 45); 
    }
    @include adaptiveValue("width", 64, 45);
    @include adaptiveValue("height", 64, 45);
    outline: 4px solid $pinkColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 25);
    line-height: 1.47;
    transition: all 0.4s ease 0s;

    .swiper-slide-active & {
      background-color: $greenColor;
      outline: none;
    }
  }

  // .slider-steeps__content

  &__content {
    @media (max-width:$tablet){
      padding: rem(20) 0 rem(39) 0;
    }
  }

  // .slider-steeps__title

  &__title {
    font-weight: 800;
    @include adaptiveValue("font-size", 25, 20);
    line-height: 147%;

    &:not(:last-child) {
      margin-bottom: rem(6);
    }
  }

  // .slider-steeps__text

  &__text {
    &:not(:last-child) {
      margin-bottom: rem(6);
    }
  }

  // .slider-steeps__pagination

  &__pagination {
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 100%;

    @media (min-width:$tablet){
      display: none; 
    }
  }
}

//========================================================================================================================================================

.partners {
  @include adaptiveValue("margin-bottom", 234, 103, 0, 1300, 767);

  // .partners__container

  &__container {
    position: relative;
  }

  // .partners__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 124, 51);
    }
  }

  // .partners__slider

  &__slider {
    @media (min-width:$tablet){
      @include adaptiveValue("padding-right", 25, 0, 0 1300, 992); 
      @include adaptiveValue("padding-left", 21, 0, 0, 1300, 992); 
    }
  }

  // .partners__slider-wrapper

  &__slider-wrapper {
    align-items: center;
  }

  // .partners__slide

  &__slide {
  }

  // .partners__img

  &__img {
  }

  // .partners__pagination

  &__pagination {
    &:not(:first-child) {
      margin-top: rem(45);
    }

    @media (min-width:$tablet){
      display: none; 
    }
  }

  // .partners__elipse

  &__elipse {
    @media (min-width:$mobile){
      top: rem(-221);
      left: rem(-372); 
    }
  }
}

//========================================================================================================================================================

.for-whom {
  @include adaptiveValue("margin-bottom", 186, 127);
  // .for-whom__container

  &__container {
  }

  // .for-whom__title

  &__title {
    @include adaptiveValue("margin-bottom", 65, 42);
  }

  // .for-whom__slider

  &__slider {
  }
}

.slider-for-whom {
  @media (max-width: em(600)){
    margin: 0 rem(-17); 
  }

  // .slider-for-whom__wrapper

  &__wrapper {
    padding-top: 10px;
  }

  // .slider-for-whom__slide

  &__slide {
    position: relative;
    background: $greyColor;
    border-radius: 20px;
    overflow: hidden;
    @include adaptiveValue("padding-right", 36, 40, 0, 1300, 480);
    @include adaptiveValue("padding-left", 36, 17, 0, 1300, 480);
    @include adaptiveValue("padding-top", 54, 28);
    @include adaptiveValue("padding-bottom", 73, 51);

    @media (min-width:em(700)){
      flex: 1 1 rem(234);
      transition: all .8s ease 0s;
      max-height: rem(353);
    
      @keyframes overflowAnim {
        0% {
          overflow: hidden;
        }
        100% {
          overflow: auto;
        }
      }
  
      &._spoller-active {
        padding: rem(33) rem(56) rem(51) rem(34);
        flex: 1 1 rem(501);
        animation: overflowAnim 0s ease 1s;
      }
    }

    // &._spoller-active {
    //   padding: rem(33) rem(56) rem(51) rem(34);
    // }
  }

  // .slider-for-whom__card

  &__card {
    min-width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    justify-items: center;

    &._spoller-active {
      justify-items: start;
    }

    @media (max-width:em(700)){
      justify-items: start;
    }
  }

  // .slider-for-whom__icon

  &__icon {
    @include adaptiveValue("width", 111, 71, 0, 1300, 700);
    @include adaptiveValue("height", 111, 71, 0, 1300, 700);
    background-color: $pinkColor;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: all 0.4s ease 0s;

    img {
      max-width: 50%;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 41, 33, 0, 1300, 767);
    }

    ._spoller-active & {
      width: rem(71);
      height: rem(71);
      background-color: $greenColor;
      padding: rem(8) rem(13);
      margin-bottom: rem(37);
    }

    @media (max-width:em(700)){
      background-color: $greenColor;
    }
  }

  // .slider-for-whom__title

  &__title {
    font-weight: 800;
    @include adaptiveValue("font-size", 25, 20);
    line-height: 1.47;
  }

  // .slider-for-whom__content

  &__content {
  }

  // .slider-for-whom__text

  &__text {
    position: relative;
    z-index: 2;
  }

  // .slider-for-whom__bg-icon

  &__bg-icon {
    position: absolute;
    width: rem(208);
    height: rem(208);
    @include adaptiveValue("top", 64, 28);
    @include adaptiveValue("right", 17, 0);
    opacity: .1;

    img {
      width: 100%;
    }
  }

  // .slider-for-whom__pagination

  .slider-for-whom__pagination {
    &:not(:first-child) {
      margin-top: rem(26);
    }

    @media (min-width:$tablet){
      span {
        height: rem(10);
        cursor: pointer;
      }    
    }

    @media (min-width: 1330px){
      display: none; 
    }
  }
}

//========================================================================================================================================================

.reviews {
  @include adaptiveValue("margin-bottom", 150, 112);

  // .reviews__container

  &__container {
    @include adaptiveValue("column-gap", 93, 30, 1300, 992);
    row-gap: rem(62);

    .touch & {
      flex-direction: column;
    }

    @media (max-width:$tablet){
      flex-direction: column;
    }
  }

  // .reviews__header

  &__header {
    max-width: rem(490);
    @media (min-width:$tablet){
      flex: 0 0 rem(490);
      &:not(.touch &) {
        flex: 0 0 rem(490);
      }
    }
  }

  // .reviews__content

  &__content {
  }
}

.header-reviews {
  position: relative;
  z-index: 2;

  // .header-reviews__label

  &__label {
    @include adaptiveValue("font-size", 20, 15);
    line-height: 147%;
    color: #D5D5D5;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 8);
    }
  }

  // .header-reviews__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 44, 16);
    }
  }

  // .header-reviews__text

  &__text {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 42, 34);
    }
  }

  // .header-reviews__btn

  &__btn {
    @include adaptiveValue("padding-right", 65, 39);
    @include adaptiveValue("padding-left", 65, 39);
  }
}

.content-reviews {

  // .content-reviews__slider

  &__slider {
    @media (min-width:$tablet){
      min-width: rem(1050);   
    }
  }

  // .content-reviews__wrapper

  &__wrapper {
    @media (min-width:$tablet){
      gap: rem(17); 
      flex-direction: column;

      .touch & {
        overflow: auto;
      }
    }
  }

    // .content-reviews__row

    &__row {
      display: none;
      @media (min-width:$tablet){
        display: grid;
        grid-template-columns: repeat(3, rem(380));
        gap: rem(17);
        position: relative;
        transform: translateY(-48px);
        &:not(.touch &) {
          &:first-of-type {

            .content-reviews__slide {
              &:nth-child(2) {
                top: auto;
                bottom: -15px;
              }
              &:nth-child(3) {
                top: auto;
                bottom: -40px;
              }
            }
          } 
    
          &:nth-child(2) {
    
            .content-reviews__slide {
              &:nth-child(2) {
                top: -15px;
              }
              &:nth-child(3) {
                top: -40px;
              }
            }
          } 
        }
  
        &:not(:first-of-type) and &:not(.touch &) {
          transform: translate(-138px, -48px);
        }
      }
    }

  // .content-reviews__slide

  &__slide {
    background: $greyColor;
    border-radius: 20px;
    @include adaptiveValue("padding-top", 13, 7);
    @include adaptiveValue("padding-bottom", 24, 15);
    @include adaptiveValue("padding-left", 26, 20);
    padding-right: rem(20);
    position: relative;

    @media (min-width:$tablet){
      flex: 0 0 rem(380);
      &:not(.touch &) {
    
        &:nth-child(2) {
          transform: scale(0.91);
          top: -42px;
          left: -17.5px;
        }
        &:nth-child(3) {
          transform: scale(0.74);
          top: -110px;
          left: -85px;
        }
      }   
    }
  }

  // .content-reviews__pagination

  &__pagination {
    @media (min-width:$tablet){
      display: none; 
    }
    &:not(:first-child) {
      margin-top: rem(37);
    }
  }
}

.review {

  // .review__header

  &__header {
  }

  // .review__stars

  &__stars {
    gap: rem(6);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 21, 15);
    }
    &:last-child{
      margin-left: rem(17);
    }
  }

  // .review__star

  &__star {
    font-size: rem(15);
    color: #F8D959;
  }
  
  // .review__date 

  &__date  {
    @include adaptiveValue("margin-left", 17, 14);
  }

  // .review__text

  &__text {
    @include adaptiveValue("font-size", 14, 12);
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  // .review__actions

  &__actions {
  }
}

.header-review {
  @include adaptiveValue("gap", 23, 15);
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 21, 12);
  }

  // .header-review__img

  &__img {
    border-radius: 50%;
    background: $pinkColor;
    flex: 0 0;
    @include adaptiveValue("flex-basis", 68, 48);
    @include adaptiveValue("height", 68, 48);
  }

  // .header-review__content

  &__content {
  }

  // .header-review__name

  &__name {
    font-weight: 700;
    @include adaptiveValue("font-size", 15, 12);
    line-height: 1.47;
  }

  // .header-review__text

  &__text {
    font-weight: 350;
    @include adaptiveValue("font-size", 14, 11);
    line-height: 1.47;
  }
}

.actions-review {
  gap: rem(15);

  // .actions-review__action

  &__action {
    gap: rem(17);

    @media (any-hover: hover){
      &:hover{
        .actions-review__icon {
          transform: rotate(-15deg);
        }

        .actions-review__icon_rev {
          transform: rotate(15deg) scale(1, -1);
        }
      }
    }
  }

  // .actions-review__icon

  &__icon {
    @include adaptiveValue("font-size", 30, 20);
    transition: all 0.3s ease 0s;
    transform-origin: left;

    // .actions-review__icon_rev

    &_rev {
      transform: scale(1, -1);
    }
  }
}

//========================================================================================================================================================

.try-free {
  @include adaptiveValue("margin-bottom", 69, 53);

  // .try-free__container

  &__container {
    position: relative;
  }

  // .try-free__title

  &__title {
    @include adaptiveValue("font-size", 45, 22);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 25, 16);
    }
  }

  // .try-free__text

  &__text {
    @include adaptiveValue("font-size", 30, 15);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 58, 28);
    }
  }

  // .try-free__btn

  &__btn {
    @include adaptiveValue("padding-right", 61, 36);
    @include adaptiveValue("padding-left", 61, 36);

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  // .try-free__bg

  &__bg {
    display: none;

    @media (min-width:$mobileSmall){
      display: block;
      position: absolute;
      @include adaptiveValue("width", 1580, 767, 0, 1300, 767);
      @include adaptiveValue("height", 813, 400, 0, 1300, 767);
      left: rem(-96);
      top: rem(-129);
      z-index: -1; 
    }
  }
}
